* {
	  box-sizing: border-box;
	  font-family: Arial, Tahoma, Helvetica, sans-serif;
	 
	}
	body {
	  margin: 0;
	  font-family: Arial, Helvetica, sans-serif;
	   
	}
	.headpic{	
		width: 99vw;
		background-size: cover;
		height: 50vh;
	}
	.content { 
	  float:center;
	  background-image: linear-gradient(to bottom right, #fbfdfd, #f9ffed);
	  color: #002129;
	  height:auto; 
	  margin: 2% 0% 0% 10%;
	  padding: 6px 40px;
	  width: 80%
	}
	.footer{
			font-family: 'Raleway', sans-serif;
			color: #f9ffed;
			text-align: center;
			font-weight: lighter;
			font-size: 20px;
			background-color: black;
			padding: 0% 4%;
	}
	.imgCenter{
			display: block;
			margin-left: auto;
			margin-right: auto;
	}
	hr{
		width: 100%;
		border: 2px solid #25a18e;
		float:left;
	}
	h1{
		font-family: 'Pacifico', cursive;
		font-size: 35px;
		color: black;
		word-spacing: 6px;
		letter-spacing:5px;
		text-align: center;
		border-style: solid;
		background-color: #4ac477;
		border-color: black;
		margin: 5%;
	}
	p{
		font-family: "FuturaBT-MediumCondensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 20px;
		word-spacing: 2px;
		letter-spacing:2px;
		line-height: 1.5em;
		text-align: justify;
	}
	#ol{
		line-height: 1.5em;
		font-family:  Proxima Nova,Helvetica,Arial,sans-serif;
		font-size: 18px;
		text-align: left;
		list-style-position: inside;
		display: inline-block;
	}