* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fffede;
}

hr{
  border: 2px solid black;
}

.container {
  width: 100%;
  height: 100vh;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 35%;
  padding-left: 35%;
}

.calendar {
  width: 900px;
  height: 650px;
  background-color: #222227;
}

.month {
  width: 100%;
  height: 10rem;
  background-color: #0088a9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
  font-size: 2rem;
  cursor: pointer;
}

.month h1 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.month p {
  font-size: 1.6rem;
}

.weekdays {
  width: 100%;
  height: 3rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(44.2rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  font-size: 1.4rem;
  margin: 0.3rem;
  width: calc(40.2rem / 7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}

.days div:hover:not(.today) {
  background-color: #262626;
  border: 0.2rem solid #777;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  background-color: orange;
}

.side-navbar {
  width: 180px;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  background-color: #0088a9;
  transition: 0.5s;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
}

.my-container {
  transition: 0.4s;
}

.active-nav {
  margin-left: 0;
}

/* for main section */
.active-cont {
  margin-left: 180px;
}

#menu-btn {
  background-color: #100901;
  color: #fff;
  margin-left: -62px;
}

.my-container input {
  border-radius: 2rem;
  padding: 2px 20px;
}

span.b {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin-left: 22%;
  margin-right: auto;
  border: 2px solid black;    
  background-color: white;
  text-align: center;
  padding-top: 50px;
  font-weight: 900;
  font-family: sans-serif;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

span.c {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 45%;
  margin-right: auto;
  border: 2px solid black;    
  background-color: red;
  text-align: center;
  padding: auto;
  font-weight: 900;
  font-family: sans-serif;
}

span.d {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 5%;
  margin-right: auto;
  border: 2px solid black;    
  background-color: green;
  text-align: center;
  padding: auto;
  font-weight: 900;
  font-family: sans-serif;
}